{% extends 'homepage/base.html' %}




{% block title %}
some shit
{% endblock %}




{% block body %}
{% endblock %}

{% block content %}
create
<p><a href="{% url 'airsoft_teams:create' %}"> Create - team </a></p>
<p><a href="{% url 'airsoft_organization:org_create' %}"> Create - org </a></p>
<p><a href="{% url 'airsoft_shops:shop_create' %}"> Create - shop </a></p>
list
<p><a href="{% url 'airsoft_teams:teams' %}"> team-list </a></p>
<p><a href="{% url 'airsoft_organization:orgs' %}"> org-list </a></p>
<p><a href="{% url 'airsoft_shops:shops' %}"> shop-list </a></p>
<p><a href="{% url 'airsoft_event:events' %}"> event-list </a></p>
{% endblock %}