


{% extends 'homepage/base.html' %}


{% block title %}
Organization
{% endblock %}

{% block body %}
<p>Organization :</p>
<li class="list-group-item">city - {{event.city}}</li>
<li class="list-group-item">описание - {{event.description}}</li>
<li class="list-group-item">name - {{event.name}}</li>
<li class="list-group-item">owner - {{event.owner}}</li>
<li class="list-group-item">id - {{event.id}}</li>
<li class="list-group-item">id - {{event.created_at}}</li>
<li class="list-group-item">id - {{event.edited_at}}</li>
<li class="list-group-item">id - {{event.is_private}}</li>




<form method="post">
    {% csrf_token %}
    <button class="btn btn-outline-secondary btn-sm" name="vote" value="vote"  type="submit"> vote </button>
</form>

<form method="post">
    {% csrf_token %}
    <a href="{% url 'airsoft_event:team_reg' event.pk %}" class="btn btn-outline-secondary btn-sm">reg</a>
</form>


registration
{% for teams in event.registered_teams.all%}

<li class="list-group-item"> team - {{ teams }} {{ teams.side }}</li>
{% endfor %}

{% endblock %}



