{% extends 'homepage/base.html' %}
edit-event

{% block title %}
1 Event
{% endblock %}

{% block body %}
<div class="my-5">
    <a href="{% url 'org:create-event' org.slug %}">Create event</a>
    <p><a href="{% url 'org:create-event' org.slug %}">services event</a></p>
    <p><a href="{% url 'org:create-event' org.slug %}"> Open reg </a></p>
</div>


<div class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"
                     id="simple-list-example">
                    <a class="p-1 rounded" href="#simple-list-item-1">Name</a>
                    <a class="p-1 rounded" href="#simple-list-item-2">Place</a>
                    <a class="p-1 rounded" href="#simple-list-item-3">Date</a>
                    <a class="p-1 rounded" href="#simple-list-item-4">Discription</a>
                    <a class="p-1 rounded" href="#simple-list-item-5">Add_info</a>
                </div>
            </div>
            <div class="col-8">
                <div class="scrollspy-example" data-bs-offset="0" data-bs-smooth-scroll="true"
                     data-bs-spy="scroll" data-bs-target="#simple-list-example" tabindex="0">
                    <h4 id="simple-list-item-1">Name</h4>
                    <p>{{object.name}}</p>
                    <h4 id="simple-list-item-2">user</h4>
                    <p>{{object.user}}</p>
                    <h4 id="simple-list-item-3">Discription</h4>
                    <p>{{object.description}}</p>
                    <h4 id="simple-list-item-4">Discription</h4>
                    <p>{{event.body}}</p>
                    <h4 id="simple-list-item-5">Add_info</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}