{% extends 'homepage/base.html' %}


{% block title %}
Creat Post
{% endblock %}


{% block body %}
<h1>Create group</h1>>
<form method="post" >
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn btn-outline-primary" type="submit" name="team" value="team" >team</button>
    <button class="btn btn-outline-primary" type="submit" name="organization" value="organization" >organization</button>
    <button class="btn btn-outline-primary" type="submit" name="shop" value="shop" >shop</button>
</form>

{% endblock %}
