{% extends 'homepage/base.html' %}



{% block body %}
<p>team :</p>
{{user.members}}
{{user.get_role_display}}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<li class="list-group-item">name - {{team.name}}</li>
<li class="list-group-item">city - {{team.city}}</li>
<li class="list-group-item">description - {{team.description}}</li>

<li class="list-group-item">id - {{team.id}}</li>
<li class="list-group-item">created_at - {{team.created_at}}</li>
<li class="list-group-item">edited_at - {{team.edited_at}}</li>
<li class="list-group-item">is_private - {{team.is_private}}</li>
<img src={{team.chevron.url }}>




<p><li class="list-group-item">user request</li></p>
<form method="post"> {% csrf_token %}
{%for request in team.team_request.all %}
<li class="list-group-item">name - {{ request }}  userid - {{ request.user.id }}  reqID-{{request.id}}</li>

    <button class="btn  btn-outline-secondary btn-sm" name="add" value="{{request.id}}"  type="submit">
        add </button>

    <button class="btn btn-outline-secondary btn-sm" name="refuse" value="{{request.id}}"  type="submit">
        refuse </button>
</form>
{%endfor%}

<div>
{% include "team_members.html" with team_members=team.team_member.all  %}
</div>

<p><li class="list-group-item">Vote list</li></p>
<div>
{% include "vote.html" with votes=team.event_vote.all  %}
</div>



<p><li class="list-group">team_registration</li></p>
{%for reg in team.team_registration.all %}
<li class="list-group-item">Event - {{ reg.event }} </li>
    {%for user  in reg.players.all %}

    <li class="list-group-item"> {{user}} </li>
    {%endfor%}
{%endfor%}





<div class="list-group">
    {%for post in team.team_post.all %}
       <li class="list-group-item"> {{ post.created_by }} - {{post.body}}</li>




    {%endfor%}</div>
<div>
    <form method="post" action="{% url 'airsoft_teams:post_create' team.id %}" >
    {% csrf_token %}
    {{ post_form }}

    <input type="hidden" name="team" value="{{team.id}}">
    <button class="btn btn-outline-secondary btn-sm" type="submit" name="team" value="{{team.id}}" >Creat</button>
     <a href="{% url 'airsoft_teams:teams' %}" class="btn btn-outline-secondary btn-sm">Back</a>
</form>





    {% if user.is_authenticated %}
       {%for request in team.team_request.all %}
            {% if user.name == request.name %}
               <li class="list-group-item">request send</li>
                {%else%}
                <form method="post"> {% csrf_token %} <button class="btn btn-outline-primary btn-sm" name="add_request" value="add_request" type="submit"> request </button></form>
                {%endif%}

       {%endfor%}
        <form method="post"> {% csrf_token %} <button class="btn btn-outline-primary btn-sm" name="add_request" value="add_request" type="submit"> request </button></form>
    {% endif %}







</div>







{% endblock %}