{% extends 'homepage/base.html' %}


{% block title %}
teams
{% endblock %}

{% block body %}
<p>team :</p>
<li class="list-group-item">city - {{team.city}}</li>
<li class="list-group-item">описание - {{team.team_owner.description}}</li>
<li class="list-group-item">name - {{team.name}}</li>
<li class="list-group-item">owner - {{team.owner}}</li>
<li class="list-group-item">id - {{team.id}}</li>
<li class="list-group-item">id - {{team.created_at}}</li>
<li class="list-group-item">id - {{team.edited_at}}</li>
<li class="list-group-item">id - {{team.is_private}}</li>
{{team.user_group.members}}
{% if user == team.owner or user in team.user_group.members.all%}
{%else%}


<form method="post"> {% csrf_token %} <button class="btn btn-outline-primary btn-sm" name="add_request" value="add_request" type="submit"> Create </button></form>

{%endif%}


{% if user == team.owner or user  in team.user_group.members.all%}

<p><li class="list-group-item">user request</li></p>
<form method="post"> {% csrf_token %}
{%for user in team.user_group.request_user.all %}
<li class="list-group-item">{{ user }}  {{ user.id }}</li>

    <button class="btn  btn-outline-secondary btn-sm" name="add" value="{{user.id}}"  type="submit">
        add </button>

    <button class="btn btn-outline-secondary btn-sm" name="refuse" value="{{user.id}}"  type="submit">
        refuse </button>
</form>
{%endfor%}


<p><li class="list-group-item">Member list</li></p>
<form method="post"> {% csrf_token %}
{%for member in team.user_group.members.all %}
<li class="list-group-item">{{ member }}</li>
    <form method="post"> {% csrf_token %}
    <button class="btn btn-outline-secondary btn-sm" name="kick" value="{{member.id}}"  type="submit">
        kick </button>
</form>
{%endfor%}

{%else%}
{%endif%}






{% endblock %}