{% extends 'homepage/base.html' %}




{% block body %}
<p>team :</p>

{{user.team_profile.role}}

<li class="list-group-item">name - {{team.name}}</li>
<li class="list-group-item">city - {{team.city}}</li>
<li class="list-group-item">description - {{team.description}}</li>

<li class="list-group-item">id - {{team.id}}</li>
<li class="list-group-item">created_at - {{team.created_at}}</li>
<li class="list-group-item">edited_at - {{team.edited_at}}</li>
<li class="list-group-item">is_private - {{team.is_private}}</li>
<img src={{ team.chevron.url }}>

<form method="post"> {% csrf_token %} <button class="btn btn-outline-primary btn-sm" name="add_request" value="add_request" type="submit"> request </button></form>



{% endblock %}