{% extends 'event/base.html' %}



{% block title %}
1 Event
{% endblock %}

{% block body %}
<div class="my-5">
    <a href="{% url 'event:events' %}">Back to list</a>
  </div>


<div class="my-5">
<div class="container">
  <div class="row">
  <div class="col-4">
    <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
      <a class="p-1 rounded" href="#simple-list-item-1">Name</a>
      <a class="p-1 rounded" href="#simple-list-item-2">Place</a>
      <a class="p-1 rounded" href="#simple-list-item-3">Date</a>
      <a class="p-1 rounded" href="#simple-list-item-4">Discription</a>
      <a class="p-1 rounded" href="#simple-list-item-5">Add_info</a>
    </div>
  </div>
  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      <h4 id="simple-list-item-1">Name</h4>
      <p>{{event.name}}</p>
      <h4 id="simple-list-item-2">Place</h4>
      <p>{{event.place}}</p>
      <h4 id="simple-list-item-3">Date</h4>
      <p>{{event.duration}}</p>
      <h4 id="simple-list-item-4">Discription</h4>
      <p>{{event.body}}</p>
      <h4 id="simple-list-item-5">Add_info</h4>
      <p>{{event.additional_block1 }}</p>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="container">
    <div class="col-md-6">
     <h1>Tags</h1>
      <ul class="list-group">
      {% for tags in event.tags.all %}
        <li class="list-group-item">
        <span class="badge text-bg-secondary">{{tags.name}}</span>

        </li>
      {% endfor %}
    </ul>
</div>



<div class="container">
  <div class="row">
     <h2>Post</h2>
    <ul class="list-group">
      {% for post in event.post.all %}
        <li class="list-group-item">
          {{ post.name }}{% if post.body %}: <em>{{ post.body }}</em>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
</div>

  <div class="my-3">
  <form method="post">{% csrf_token %}
    <input class="form-control form-control-lg" type="text" placeholder="{{ event.name }}" aria-label=".form-control-lg example">

    <input type="submit" value="Update">
</form>
</div>

