{% extends 'homepage/base.html' %}


{% block title %}

{% endblock %}
<div class="my-6">
some event
</div>

{% block body %}
<div class="my-5">
<div class="row">
</div>
<div class="row">
</div>
    <div class="row-5">




            <h1>{{team}} <a href="member_request">send req</a> </h1>


    </div>
{% if user == team.owner or user in team.members.all%}
    <div class="container">
        <div class="row">
            <div class="col">
            <h2>member request</h2>
            <ul class="list-group">
                {% for request in team.request_list.all %}
                <li class="list-group-item">
                    <a href="{}">{{ request.user }} slug-{{team.slug}} req id{{request.id}} user_id{{ request.user.id }}</a>

                    <form action="..." method="post">
                    <input type="submit" name = "first_button" value="Add">
                    <input type="submit" name = "second_button" value="Remove">
                    </form>
                    <span class="float-end"><a href="{%url 'teams:add' team.slug request.id %}">add</a> </span>
                    <span class="float-end"><a href="{}">del</a> <div class="vr"></div></span>
                    </form>

                </li>
                {% endfor %}
            </ul>
        </div>

            <div class="container">
        <div class="row">
             <div class="col">
            <h2>member list</h2>
            <ul class="list-group">
                <li class="list-group-item">
                <a href="{}">{{team.owner}}-Team Owner</a>
                {% for member in team.members.all %}
                <li class="list-group-item">
                    <a href="{}">{{ member.username }} member_id={{member.id}} user-{{member.user}}{{member.user.member}}</a>
                    <span class="float-end"><a href="{%url 'teams:kick' team.slug member.id %}">kick</a> </span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container">
        <div class="row">
             <div class="col">
            <h2>event reg</h2>
            <ul class="list-group">

                {% for object in team.registered_team.all %}
                <li class="list-group-item">
                    <a href="">name={{ object.registration }} reg_send= {{object.registration_send}} </a>


                    <span class="float-end"><a href="{%url 'teams:mby' team.slug object.id %}">mby({{object.mby.count}})</a> <div class="vr"></div></span>
                    <span class="float-end"><a href="{%url 'teams:no' team.slug object.id %}">no({{object.no.count}})</a> <div class="vr"></div></span>
                    <span class="float-end"><a href="{%url 'teams:yes' team.slug object.id %}">yes({{object.yes.count}})</a> <div class="vr"></div></span>
                     <span class="float-end"><a href="{%url 'teams:Apply' team.slug object.id %}">reg_send</a> <div class="vr"></div></span>

                </li>
                {% endfor %}
            </ul>
        </div>

        </div>
{%endif%}

<span class="float-end"><a href="{%url 'teams:leave_team' team.slug  %}">leave_team</a> </span>
            {% endblock %}


















